<!doctype html>
<html>
<head>
<title>Ratings -- {% block title %}PAGE TITLE GOES HERE{% endblock %}</title>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<script src="https://code.jquery.com/jquery.js"></script>
</head>


<body>
  Ratings
  <br>
   <a href='/'><button>Home</button></a>  

  {% if 'logged_in' not in session %}
    <a href='/sign-in'><button>LogIn</button></a>  
    <a href='/register'><button>Sign Up</button></a>
  {% else %}
    <a href='/logout'><button>Logout</button></a>
  {% endif %}

  <hr>

  {% block content %} put your content here {% endblock %}


<script src='/static/scripts.js'></script>
<script src='/static/{% block javascript %}PAGE SPECIFIC JAVASCRIPT{% endblock %}.js'></script>

</body>
</html>